<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <div>
            数值a<input type="text" v-model="a" >
        </div>
        <div>
            数值b<input type="text" v-model="b">
        </div>
        <div>
            <button @click = 'sum'>计算</button>
        </div>
        <div>
            <span>计算结果</span>
            <span v-text = num></span>
        </div>
    </div>

    <script src="../js/vue-2.6.14.js"></script>

    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                a:'',
                b:'',
                num:''
            },
            methods: {
                sum : function () {
                    this.num = Number(this.a) + Number(this.b),
                    this.a = ''
                    this.b = ''
                    return this.num;
                }
            }
        })
    </script>
</body>
</html>